{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block bodyblock %}
<div class="row mt-4 justify-content-center">
  <div class="col-6 content-section pt-4 pb-4">
      <form method="POST">
          {% csrf_token %}
        <fieldset class="form-group">
          <legend class="form-group">Join Today</legend>
          
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <input class="btn btn-outline-info" type="submit" value="Sign Up">
        </div>
      </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
      </small>
    </div>
  </div>
</div>
{% endblock bodyblock %}